/* This file is for your main application css. */

.help-block {
  color: red;
  text-transform: capitalize;
  position: absolute;
  top: 40px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

/* .help-block {
  color: red;
  text-transform: capitalize;
  position: relative;
  bottom: 10px;
} */
.alert {
  margin-top: 10px;
}
